 .nav-link {
     position: relative;
     padding-bottom: 4px;
     color: #374151;
     transition: color .3s;
 }

 .nav-link:hover,
 .nav-link.active {
     color: #af8d53;
 }

 .nav-link.active::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background: #af8d53;
 }

 .mobile-link {
     padding: 10px 0;
     border-bottom: 1px solid #e5e7eb;
 }



 /* ===== Scrollbar (Chrome, Edge, Safari) ===== */
 ::-webkit-scrollbar {
     width: 10px;
 }

 ::-webkit-scrollbar-track {
     background: #f1f5f9;
     /* light background */
 }

 ::-webkit-scrollbar-thumb {
     background: linear-gradient(180deg,
             #af8d53,
             #997a3f);
     border-radius: 10px;
     border: 2px solid #f1f5f9;
 }

 ::-webkit-scrollbar-thumb:hover {
     background: linear-gradient(180deg,
             #997a3f,
             #af8d53);
 }

 /* ===== Firefox ===== */
 * {
     scrollbar-width: thin;
     scrollbar-color: #af8d53 #f1f5f9;
 }

 .imgy {
  filter: sepia(100%);
}